# Python
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.spec
*.exe

# Environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.claude/

# OS
Thumbs.db
Desktop.ini

# Artifacts and Logs
browser_recordings/
implicit/
*.pb

# Project Specific
scratch/
*.docx
docx_text.txt
myeasylog.log

# Large Binaries and Zips
*.zip
*.pcapng
*.hex

# App Specific Exclusions (Generated/Temp)
Combined_Server/AutoPrescribe/*.pdf
